* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  background-color: #000;
}

.text-typing p {
  color: #96ee1c;
  font-size: 70px;
  animation: typing 10s steps(25) infinite, blink 1s infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 10px solid transparent;
  }
  50% {
    border-right: 10px solid #96ee1c;
  }
}
