*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  background-color: #ECF0F1;
}

button{
  margin-inline: 20px;
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: 500;
}

button.btn_success{
  background-color: #008000;
}
button.btn_warning{
  background: #FFA500;
}
button.btn_error{
  background-color: #FF0000;
}

.toast_container{
  font-size: 16px;
  position: fixed;
  top: 30px;
  right: 20px;
}

.fas{
  font-size: 30px;
  margin-right: 20px;
}

.toast{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: white;
  border-left: 5px solid #008000;
  position: relative;
  outline: none;
  transform: translateX(110%);
  animation: appear ease 5s;
  animation-fill-mode: forwards;
}

.toast:after{
  content: " ";
  position: absolute;
  background-color: #008000;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 5px;
  animation: move 4s linear 1;
  animation-direction: reverse;
}

.success_toast{
  background-color: #8EC391;
}

.warning_toast{
  background-color: #44ff0b;
}

.error_toast{
  background-color: #FF0000;
}

@keyframes move{
  from {
    width: 0%;
  }
  to{
    width: 100%;
  }
}

@keyframes appear{
  0%   {transform: translateX(100%);}
  10%  {transform: translateX(0%);}
  15%  {transform: translateX(10%);}
  25%  {transform: translateX(0%);}
  75%  {transform: translateX(0%);}
  80%  {transform: translateX(-10%);}
  100% {transform: translateX(120%);}
}